.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    background: #a9a9e9;
}

.headings {
    outline: 2px solid green;
    padding: 5px 5px;
}

.headings h1 {
    padding: 20px 0px;
    font-size: 43px;
    font-weight: bold;
    margin: 0px;
    color: white;
}

.headings p {
    margin: 0px;
}

.video {
    outline: 2px solid red;
    display: flex;
    justify-content: center;
}

iframe {
    width: 60vw;
    height: 70vh;
}

.mcq {
    margin: 0px 30px;
}

label {
    margin-left: 10px;
}

.scrollable {
    height: 500px;
    overflow-y: scroll;
}

.video-container {
    justify-content: space-around;
}

.generate-btn {
    justify-content: center;
}

.generate-btn button {
    border: 2px solid rgb(198, 99, 198);
    padding: 1rem 1rem;
    margin: 1.5rem 1rem;
}

.course-title {
    margin: 0.5rem 1rem;
}

.course-quiz {
    box-sizing: border-box;
    border: 1px solid black;
    width: 20vw;
    height: 70vh;
    padding: 3rem 2rem;
}
