.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    background: #a9a9e9;
}

.headings {
    outline: 2px solid green;
    padding: 5px 5px;
}

.headings h1 {
    padding: 20px 0px;
    font-size: 43px;
    font-weight: bold;
    margin: 0px;
    color: white;
}

.headings p {
    margin: 0px;
}

.video {
    outline: 2px solid red;
    display: flex;
    justify-content: center;
}

iframe {
    width: 60vw;
    height: 600px;
}

.mcq {
    margin: 0px 30px;
}

label {
    margin-left: 10px;
}

.scrollable {
    height: 500px;

    overflow-y: scroll;
}
