.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0a2084;
    padding: 10px 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.logo-container {
    margin-right: 20px;
}

.logo {
    height: 50px;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li:last-child {
    margin-right: 0;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 20px;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #0077cc;
}

.profile {
    color: white;
    font-weight: 500;
    font-size: 20px;
}
